/* For sticking a footer at the bottom */
html, body, #container { height: 100%; width: 100%;}
body > #container { height: auto; min-height: 100%; }
#content { padding-bottom: 3em; }

body {
	font-family: 'IM Fell DW Pica', Georgia, Times, Times New Roman, serif;
	margin: 25px auto auto 25px;
	background: #E7E7DE;
}

#container {
	float: left;
	position: relative;
}

#header {
	font-family: 'IM Fell DW Pica', Georgia, Times, Times New Roman, serif;
	font-size: 48px;
}

#search {
	float: left;
}

#innerWrapper {
	float: left;
}

#vizWrapper {
	float: left;
	clear: left;
}

/*#vizWrapper  {
	width: 2000px;
	margin-left: -135px;
}

deliciousViz {
	float: left;
}

/*#stemmedViz {
	float: left;
	margin-left: -155px;
}*/


#humanTags, #stemmedTags, #machineTags {
	float: left;
	width: 300px;
}

#stemmedTags, #machineTags {
	margin-left: 50px;
}

#list, #stems, #entities {
	list-style-type: none;
}

#list li, #stems li, #entities li {
	margin: 3px 0px;
}

.tag {
	color: #FFF;
	background: #1462C1;
	font-size: 90%;
	padding: 2px 2px;
}

.stem-tag {
	background: #666;
}

.evri-tag {
	background: #B0D730;
}

.alchemy-tag {
	background: #FBCA54;
}

#footer {
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	color: black;
	font: normal normal normal 10px/10px verdana, serif;
	text-align: center;
}